
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
mvnw.cmd
mvnw
HELP.md
Test.iml
.idea/workspace.xml
target/classes/application.properties
*.class
*.lst
target/surefire-reports/com.example.Test.TestApplicationTests.txt
target/surefire-reports/TEST-com.example.Test.TestApplicationTests.xml
target/maven-archiver/pom.properties
*.jar
*.original
